@charset "utf-8";

@import url("https://cdn.jsdelivr.net/gh/parawatch-wiki-cn/AnonTheme@main/anon-pwcn.css");

 div#header h1{
     position: relative;
     float: unset;
     top: 40px;
     max-height: 100%;
     height: 100%;
     margin: unset;
 
     background: url("https://cdn.jsdelivr.net/gh/parawatch-wiki-cn/AnonTheme@main/img/parawatch-sandbox.png") no-repeat;
}